*{
    box-sizing: border-box;
    font-family: 'lobster', cursive;
    color: #666666;
}
h1,
h4,
p {
    margin: 0px;
}


.container{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    align-content: space-between;
    grid-template-columns: 10% auto;
    grid-template-rows: 100px 400px 300px 100px;
}


/*titulo*/
header {
    font-family: 'lobster';
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: solid 1px #666666;
    grid-column: 1 / 3;
    grid-row: 1/2;
}

/*Menu izq*/
nav{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

nav div{
    margin: 10px;
    padding-top: 10px;

}



/*bloque de arriba*/
.content_wrapper {
    display: grid;
    grid-template-columns: 15% 50% 35%;
    grid-template-rows: 95%;
    justify-content: space-between;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.content_wrapper>article{
    grid-row: 1/2;
    grid-column: 3/4;
}

.content_wrapper>article>img{
    width: 95%;
    height: 60%;
}

/*loren ipsum*/
main {
    text-align: center;
    border: solid 1px #666666;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    grid-column: 2/3;
   grid-row: 1/2;
   width: 600px;
}


/*imagen loren ipsum*/
main>img {
    width: 90%;
    height: 75%;
    border-radius: 15px;
}
/*bloque de imagen del cielo*/
article {
   border: 1px solid #666666;
   border-radius: 15px;
   margin-left: 50px;
   text-align: center;
}
/*imagen del cielo*/
article img {
    height: 50%;
    width: 80%;
    margin-top: 10px;
    border-radius: 15px;

}
/*bloque abajo*/
.articles {
    margin-left: 2%;
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 95%;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
}
/*imagenes bloque abajo*/
.articles img {
    width: 90%;
    height: 50%;
    border-radius: 10px;
}


/*Pie abajo*/
footer {
    padding-top: 20px;
    align-items: center;
    border-top: solid 1px #8a8a8a;
    display: grid;
    justify-content: space-between;
    grid-row: 4 / bottom;
    grid-column: 1 / 3;
    grid-template-columns: auto auto auto;
}

