*{
    margin: 0px;
    box-sizing: border-box;
    
}
#colorA{
    background-color: #45bdd4;
    height: 60%;
}
/*color botones*/

button a:first-child{
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }

/* HEADER*/
/*Logueo*/
#log a{
    color: white;
    display: block;
    margin-left: 77%;
    padding-top:1%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

/*barra*/

#barra{
    align-items: center;
}

/*foto*/

header img{
    width: 150px;
    height: 40px;
    margin-right: 2%;
    margin-left: 20%;
    float: left;
}

/*sign up*/
header button{
    height: 40px;
    background-color: #32322a;
    border-radius: 5px;
    border: 1px;
    float: left;
  
}

/*enlace boton negro*/
header a{
    color: #50514b;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

/*menu*/
header li{
    margin-left: 5px;
    margin-right: 15px;
    float: left;
}

header nav{
    padding-bottom:5px ;
}

ul{
    list-style: none;
    height: 40px;
    justify-content: center;
    background-color: #d0eef4;
    margin-left:10px;
    margin-right:0px;
    padding: 15px;   
    text-decoration: none;
    border-radius: 5px;
    border: 1px;
    float: left;
    
    
}
/*busq menu*/

header input{
    border:  1px;
    border-radius: 5px;
}

#central{
    display: block;
    height: 350px;
}



/*boton naranja*/
#texto button{
    background-color: #e14d35;
    border-radius: 5px;
    border: 1px;
    padding: 15px 40px;
    display: block;
    margin-bottom: 2%;
    }


/*div imagen mono*/
#foto {
    margin-left: 20%;
    float:left;
    clear: both;
}
/*imagen mono*/
#foto img{
    height: 300px;
    width: 300px;
}
/*div texto */
#texto {
    
    margin-left: 3%;
    width: 500px;
    height: 330px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

/*parrafo de texto */
#texto p{
    color: black;
    font-size: 14px;
    width: 70%;
    
}

/*titulo de texto */
h2 {
    color: white;
    font-size:65px;
    font-weight: bold;
    margin-bottom: 0%;
}

/*Bloque de abajo*/
#colorG{
    background-color: #CCD0CF;
    height: 370px;
    font-family: Arial, Helvetica, sans-serif;
    color: #50514b;

}

/*div que contiene los cuatro elementos */
#colorG>div:first-child{
    float: left;
    border: 1px ;
    border-radius: 5px;
    background-color: #F0F0F0;
    margin-left: 15%;
    position: relative;
    bottom: 30px;
    
    }
/*parrafo  del titulo */
    #colorG>div:first-child>p:first-child{
        font-size: 25px;
        font-weight: bold;
        margin: 15px 20px;

    }
   
    /*div de cada zona de contenido */
.cuadrados{
    float: left;
    width: 200px;
    margin: 5px;
    margin-left: 20px;
}
/*titulo de cada zona de contenido */
.cuadrados h5{
    font-size: 20px;
    margin-bottom: 10px;
}

/*imagen de cada zona de contenido */
.cuadrados img{
    width: 150px;
    height: 150px;
    margin-left: 10%;
}
/*mini titulo de abajo de cada zona de contenido */
.cuadrados p:nth-child(2){
    font-size: 10px;
    margin-top: 10px;
    font-weight: bold;
}

/*texto de cada zona de contenido */
.cuadrados p:last-child{
    font-size: 13px;
}