
table{
    border-collapse: collapse;
    display: table;   
    margin: auto;
}

td,th{
    border: 1px solid black;
    

}

h1{
    text-align: center;
}

img{
    height:50px;
    width:50px;
}

.rojo{
    background-color: red;
    color: white;
}

.GB{
    text-align: center;
    font-size: 30px;
    background-color: grey;
}

#rojo2 ul{
    color: red;

}

#horas{
    background-color: yellow;
    padding-top: 40px;
    padding-bottom: 40px;
}

td[colspan="2"]{
    background-color: blue;
}

td[colspan="3"]{
    background-color: blue;
}