*{
    box-sizing: border-box;
}

img{
    width: 150px;
    height: 150px;
}

h1{
    text-align: center;
}

nav{
  overflow-y: auto; 
  background-color: black;
    
}
nav div{
    float: left;
    height: 40px;
    color: white;
    margin-right: 180px;
  

}

li{
    list-style: none;
}

aside{
    background-color: black;
    color: white;
    float: left;
    text-align:left;
     height: 440px;
    width: 15%;
    margin-top: 30px;
    margin-right:5%;
}


.centrales{
float: left;
width: 25%;
border: 1px solid black;
border-radius: 5px;
text-align: center;
margin-top:30px ;
font-size: 14px;
}

#colum{
    float: right;
    column-count: 3;
    width: 75%;
    margin-right: 60px;
    text-align: left;
    margin-top: 20px;
    
}

#colum p{
    margin-top:0px;
}

footer{
    float: left;
    text-align: center;
    background-color: rgb(207, 202, 202);
    padding: 4px;
    width: 100%;
}