*{
    box-sizing: border-box;
    font-family: righteous;
}

.verde{
    color: green;
}
nav{
    margin-right: 2%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main_text{
    background-color: grey;
    padding: 3% 3%;
}

.main_text p,h3{
    color: white;
    font-weight: bold;
   
}

/*IMAGENES*/
.images{
    background-color:grey;
    display: flex;
    flex-wrap: wrap;
}
.hidden{
    display: none;
}
.images img{
    width: 25%;
}

@media  screen and (min-width: 577px) {
    .icon{ display: none;}
    header{margin-left: 2%;}
    nav{ display: flex; margin-right: 12%;}
    .menu_item{ margin-left: 6%; }
    main{ display: flex;}
    .main_text{width: 50%;   }
    .images{width: 50%;}
    .images img{width: 50% }
    .novedades{display: flex;}
    article{ margin-left: 4%;

    }
}

@media screen and (min-width: 993px){

    .icon{ display: none;}
    header{margin-left: 2%;}
    nav{ display: flex; margin-right: 12%;}
    .hidden{ display: flex;}
    main{ display:flex;
        flex-direction: row-reverse;}
    .images img{width: 33.33% }
    .novedades h2,article{width: 25%;}
    body{font-size: 0.80vw;}
}